* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.intro-text {
  padding-bottom: 50px;
}

.slide-yellow {
  background-color: #fcb315;
  color: #141414;
}
.slide-yellow ::-moz-selection {
  /* Code for Firefox */
  color: #fcb315;
  background: #141414;
}
.slide-yellow ::selection {
  color: #fcb315;
  background: #141414;
}

.slide-black {
  background-color: #141414;
  color: #fcb315 !important;
}
.slide-black h2 {
  background-color: #141414;
  color: #fcb315 !important;
}
.slide-black .label {
  background-color: #fcb315;
  color: #141414;
}
.slide-black ::-moz-selection {
  /* Code for Firefox */
  color: #141414;
  background: #fcb315;
}
.slide-black ::selection {
  color: #141414;
  background: #fcb315;
}

.uk-open > .uk-modal-dialog {
  display: block;
  margin: auto;
  border-radius: 30px;
  padding: 30px;
  height: auto;
}

.uk-modal-title {
  margin: 10px 0;
}

.uk-modal button {
  position: absolute;
  top: 30px;
  right: 30px;
}

.project-image-container {
  border-radius: 20px;
  margin: 10px 0;
  padding: 10px;
  overflow: hidden;
  background-color: #ffffff;
}
.labelContainer {
  line-height: 50px;
}

.preview-rect {
  transition: all 0.5s;
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: relative;
}
.preview-rect:hover {
  height: 250px;
  cursor: pointer;
}
.preview-rect img {
  transition: all 0.2s;
  object-fit: cover;
  width: 100%;
  background-color: #ffffff;
  filter: grayscale(0);
}
.preview-rect img:hover {
  filter: grayscale(1);
}
.preview-rect .projectPreviewTitle {
  position: absolute;
  vertical-align: bottom;
  line-height: 150px;
  transition: all 0.4s;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: clamp(1.5rem, 4.5vw, 4rem);
  font-weight: 500;
  padding: 10px 5vw;
  z-index: 10;
  opacity: 0.8;
  color: #ffffff;
  background-color: #141414;
}
.preview-rect .projectPreviewTitle:hover {
  color: #141414;
  background-color: rgba(255, 255, 255, 0.5);
}

#home {
  height: 100vh;
}

#landing-title,
#welcomeMessage {
  position: absolute;
}

#btn-to-projects {
  position: relative;
  border: solid black 1px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-width: 0px 3px 3px 0;
  padding: 3px;
  min-width: 20px;
  min-height: 20px;
  width: 4vw;
  height: 4vw;
  top: 20%;
  left: 30%;
  transition: border-color;
}

#btn-to-projects-container {
  left: 45vw;
  position: absolute;
  bottom: 5vh;
  width: 10vw;
  height: 10vw;
  min-width: 50px;
  min-height: 50px;
  border: 1px solid black;
  transition: background-color;
  border-radius: 100px;
  transition: all 0.2s;
}
#btn-to-projects-container:hover {
  border: 1px solid black;
  border-color: #fcb315;
  background-color: #141414;
}
#btn-to-projects-container:hover #btn-to-projects {
  border-color: #fcb315;
}

#landing-title {
  left: 5vw;
  top: 65vh;
  text-align: left;
  transition: opacity 1s;
  font-weight: 400;
  font-size: 2em;
  font-family: avenir, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#welcomeMessage {
  display: block;
  top: 30vh;
  right: 5vw;
  color: #141414;
  font-weight: 600;
  font-size: 3em;
  font-family: "Courier New", Courier, monospace;
}

@media only screen and (max-width: 480px) {
  #welcomeMessage {
    top: 100px;
    left: 5vw;
    color: #141414;
    font-weight: 600;
    font-size: 2em;
    font-family: "Courier New", Courier, monospace;
  }
  #landing-title {
    font-size: 1.5em;
    top: 250px;
  }
}
.label {
  background-color: #141414;
  color: #ffffff;
  min-width: 25px;
  text-align: center;
  margin: 3px;
  padding: 10px;
  border-radius: 100px;
}

footer {
  height: 150px;
  line-height: 150px;
  text-align: center;
}
footer p {
  margin: 0;
}/*# sourceMappingURL=style.css.map */